div.book {
    margin-bottom: 20px;
    width: 25%;
    display: inline-block;
    overflow: hidden;
    background: white;
    vertical-align: top;
    margin-right: 20px;
    padding: 30px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 3px;
    &:hover{
        border: 1px solid orange;
    }
    img{
        width: 20%;
        align-self: flex-start;
        float: left;
    }
    div.title{
        float: left;
        width: 80%;
        h2{
            margin: 0;
            padding: 0px 20px 10px 10px;
            font-size: 18px;
            line-height: 25px;
        }
        h3{
            padding-left: 10px;
            margin: 0;
            font-size: 15px;
            color: gray;
            font-weight: normal;
            line-height: 22px;
        }
    }
    div.info{
        float: left;
        clear: both;
        p {
            margin: 10px 0;
            font-weight: bold;
            font-size: 15px;
            span {
                font-weight: normal;
            }
        }
        a{
            text-decoration: none;
            background: orange;
            color: white;
            padding: 10px;
            display: block;
            float: left;
        }
    }
    
}