<div id="search">
    <form [formGroup] = "searchForm">
        <input (keyup)="searchTerm$.next($event.target.value)" placeholder="search ..." formControlName="term">
        <div *ngIf="searchForm.controls['term'].hasError('minlength') && searchForm.controls['term'].touched">Wrong.</div>
    </form>
</div>

<div id="books">
    <book [book]="book" *ngFor="let book of paginatedBooks"></book>
</div>

<pagination 
    *ngIf="books?.length"
    [pageNumber]="books?.length"
    [pageDefaultNumber]="defaultPageNumber"
    (sendPageNumber) = "getPageNumber($event)">
</pagination>