div#search {
    background: orange;
    padding: 20px 0;
    margin-bottom: 30px;
    input {
        display: block;
        margin: auto;
        outline: 0;
        padding: 10px 15px;
        border: none;
    }
}

div#books {
    width: 80%;
    margin: auto;
}