ul#pagination{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    li{
        display: inline-block;
        padding: 10px;
        cursor: pointer;
        border: 1px solid gray;
    }
}