<ul id="pagination">
    <li (click)="sendPage(1)">First</li>
    <li *ngFor="let page of pages" (click)="sendPage(page)">
        {{ page }}
    </li>
    <li (click)="sendPage(pages.length)">Last</li>
</ul>